.layout-wrap
  .mod-text

    %h3 Your Location Interests

    %ul
      - @location_interests.each do |l|
        %li
          = l.location.try(:name)
          = link_to "(x)", location_interest_path(l), :method => :delete

    = link_to "Add another location interest", new_location_interest_path
