form.formtastic
  margin: 2em 0em

  ul, ol
    list-style-type: none

  label
    font-size: 110%
    display: block
    text-transform: uppercase

  input
    display: block

  input[type="text"], input[type="email"], input[type="url"]
    width: 30em

  li.boolean
    input, label
      display: inline

  textarea
    width: 30em

  textarea.brief
    height: 5em

  legend
    margin: 2em 0em 0.5em 0em
    font-size: 150%
    font-weight: bold

  p.inline-hints
    font-weight: light
    color: #3333AA
    width: 26em
