.layout-wrap
  .mod-text

    %h3 Your Dashboard

    %ul
      %li= link_to 'View your portfolio', person_path(current_person)
      %li= link_to 'Edit your portfolio', edit_person_path(current_person)
      %li= link_to 'Upload your resume', new_resume_path
      %li= link_to 'Edit your location interests', location_interests_path
