.layout-wrap
  .mod-text
    %h3 Upload Your Resume
    = form_for :resume, :url => resume_path, :method => :post, :html => {:multipart => true} do |f|
      %p Upload your resume in PDF format.
      = f.file_field :file
      = f.submit 'Upload', class: 'button'
